



main {
    width: 1024px;
    margin: 0 auto;
    display: block;
    height: auto;
  }



.movie-card {
    border: 1px solid #ccc;
    float: left;
    width: 274px;
    height: 460px;
    margin: 30px;
    box-sizing: border-box;
    border: none;
    overflow: hidden; /* Add this property to prevent image overflow */
    cursor: pointer;
    
  }
  
.movie-card img {
    width: 100%; /* Ensure the image takes 100% of the container width */
    height: 398px; /* Maintain the aspect ratio of the image */
    max-width: 100%; /* Set a maximum width to avoid overflow */
    border-radius: 5px;
  }

.movie-card-text{
    height: 32px;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    gap: 2px;

}
.movie-title{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    margin: 0;
}

.movie-card-genre{
    margin: 0;
    color: rgba(255, 107, 8, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.pagination-container{
    float: left;
    width: 1024px;
    height: 50px;
}
 