<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
       <button class="team__modal--close close-modal-team">
         <svg class="team__icon team__icon--close" width="25" height="25">
           <use href="/src/images/icons.svg#icon-close"></use>
         </svg>
       </button>
       <h1 class="team__title">Team G3</h1>
       <div class="team__box">

             <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Perci.PNG"
              alt="Perci"/>
             </div>
            <a class="team__link"
            href="https://github.com/perci-aceron"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Perci Aceron</p>
            <p class="team__role">Team Lead - pagination</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Kate.PNG"
              alt="Kate"/>
             </div>
            <a class="team__link"
            href="https://github.com/katelim215"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Kate Limosnero</p>
            <p class="team__role">Scrum Master - header</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Rey.PNG"
              alt="Rey"/>
             </div>
            <a class="team__link"
            href="https://github.com/reyleal27"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Rey Leal</p>
            <p class="team__role">Developer- header, library</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Franci.jpg"
              alt="Franci"/>
             </div>
            <a class="team__link"
            href="https://github.com/ciehgiordani"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Franci Giordani</p>
            <p class="team__role">Developer - movie cards, modals</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Mon.PNG"
              alt="Mon"/>
             </div>
            <a class="team__link"
            href="https://github.com/kiksmon21"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Mon Laguatan</p>
            <p class="team__role">Developer - UI/UX</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Bri.PNG"
              alt="Bri"/>
             </div>
            <a class="team__link"
            href="https://github.com/Bmorta"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Bri Lang</p>
            <p class="team__role">Developer - Loader, functionality</p>
          </div>
         </div>
       </div>

