<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
       <button class="team__modal--close close-modal-team">
         <svg class="team__icon team__icon--close" width="25" height="25">
           <use href="/src/images/icons.svg#icon-close"></use>
         </svg>
       </button>
       <h1 class="team__title">Group 3</h1>
       <div class="team__box">
         <div class="team__member">
            <div class="team__card">
             <img class="team__photo" src="/src/images/team/Rey.jpg"
             alt="Rey"/>
            </div>
           <p class="team__name">Rey Vincent Leal</p>
           <p class="team__role">Member</p>
         </div>

          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Perci.jpg"
              alt="Perci"/>
             </div>
            <p class="team__name">Perci Aceron</p>
            <p class="team__role">Team Lead</p>
          </div>
          
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Kate.jpg"
              alt="Kate"/>
             </div>
            <p class="team__name">Kate Limosnero</p>
            <p class="team__role">Scrum Master</p>
          </div>
          
          <div class="team__member">
            <div class="team__card">
              <img class="team__photo" src="/src/images/team/Franci.jpg"
              alt="Franci"/>
             </div>
            <p class="team__name">Franci Giordani</p>
            <p class="team__role">Member</p>
          </div>
          
          <div class="team__member">
            <div class="team__card">
              <img class="team__photo" src="/src/images/team/Mon.jpg"
              alt="Mon"/>
               </div>
            <p class="team__name">Krystian Mon Laguatan</p>
            <p class="team__role">Member</p>
             </div>
          
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Bri.jpg"
              alt="Bri"/>
             </div>
            <p class="team__name">Brigitte Morta</p>
            <p class="team__role">Member</p>
          </div>
          </div>

          <div class="team__member">
            <div class="team__card">
             <img class="team__photo" src="/src/images/team/Jessah.jpg"
             alt="Bri"/>
            </div>
           <p class="team__name">Jessah Seroje</p>
           <p class="team__role">Member</p>
         </div>
         </div>


