<header class="site-header main">
    <nav>
        <div class="logo-container">
            <a href="./index.html" class="filmoteka-logo">
                <svg class="filmoteka-logo-icon" width="24" height="24">
                    <use xlink:href="./images/svg/icons.svg#filmoteka-logo"></use>
                </svg>
            </a>
            <h1><a href="./index.html" class="logo">Filmoteka</a></h1>
        </div>
        <ul>
            <li><a class="active" href="#">HOME</a></li>
            <li><a href="./mylibrary.html">MY LIBRARY</a></li>
        </ul>
    </nav>
    <div class="form-container">
        <form class="search-form">
            <input id="search-input" type="text" placeholder="Search movies">
            <button class="search-btn" type="submit">
                <svg class="magnifying-glass-icon" width="12" height="12">
                    <use xlink:href="./images/svg/icons.svg#magnifying-glass"></use>
                </svg>
            </button>
        </form>
        <p class="alert-text">Search result not successful. Enter the correct movie name.</p>
    </div>
</header>

<main>
    <section id="movie-container">
        <!-- Movie cards will be dynamically added here -->
    </section>
    <div id="pagination-container">
        <!-- Pagination links will be dynamically added here -->
    </div>
</main>

<div id="modal">
    <div class="modal-content">
        <h2>Movie Title</h2>
        <!-- Additional movie information will be dynamically added here -->
        <button id="add-to-watched" class="modal-btn">Add to Watched</button>
        <button id="add-to-queue" class="modal-btn">Add to Queue</button>
        <button id="close-button" class="close-button" data-modal-close>
            <svg class="close-icon" width="30" height="30">
                <use xlink:href="./images/svg/icons.svg#close"></use>
            </svg>
        </button>
    </div>
</div>

<footer class="site-footer">
    <span>&copy; 2020 | All Rights Reserved | Developed with</span><span class="heart"> ❤ </span><span>by
    </span><span><a href="#">Group 3</a></span>
</footer>