<header class="site-header mylibrary">
    <nav>
        <div class="logo-container">
            <a href="./index.html" class="filmoteka-logo">
                <svg class="filmoteka-logo-icon" width="24" height="24">
                    <use xlink:href="./images/svg/icons.svg#filmoteka-logo"></use>
                </svg>
            </a>
            <h1><a href="./index.html" class="logo">Filmoteka</a></h1>
        </div>
        <ul>
            <li><a href="./index.html">HOME</a></li>
            <li><a class="active" href="#">MY LIBRARY</a></li>
        </ul>
    </nav>
    <div class="btn-container">
        <button class="watched-btn btn" type="button">WATCHED</button>
        <button class="queue-btn btn" type="button">QUEUE</button>
    </div>
</header>

<!-- <main>
    <section id="movie-container"> -->
        <!-- Movie cards will be dynamically added here -->
    <!-- </section>
    <div id="pagination"> -->
        <!-- Pagination links will be dynamically added here -->
    <!-- </div>
</main> -->

<div id="library-container">
    <div class="watched-container"></div>
    <div class="queue-container"></div>
</div>

<footer class="site-footer">
    <span>&copy; 2020 | All Rights Reserved | Developed with</span><span class="heart"> ❤ </span><span>by
    </span><span><a href="#">Group 3</a></span>
</footer>